<p id="notice"><%= notice %></p>

<h1>Admin Definicoes</h1>

<table>
  <thead>
    <tr>
      <th>Admin plano</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_definicoes.each do |admin_definicao| %>
      <tr>
        <td><%= admin_definicao.admin_plano %></td>
        <td><%= admin_definicao.desc %></td>
        <td><%= link_to 'Show', admin_plano_definicoes_path %></td>
        <td><%# link_to 'Edit', edit_admin_plano_admin_definicao_path(admin_plano_definicao.id) %></td>
        <td><%# link_to 'Destroy', admin_plano_definicao_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Definicao', new_admin_plano_definicao_path %>
