<div class="header-inner container">
  <div class="navbar">
    <div class="pull-left">
      <!--branding/logo-->
      <a class="navbar-brand" href="/principal" title="Inicio">
        <h1>
          <span>Campinápolis</span><span>.</span>Com
        </h1>
      </a>
      <div class="slogan">O Portal do Comércio da Cidade</div>
    </div>

    <!--Search trigger -->
    <!-- <a href="#search" class="search-form-tigger" data-toggle="search-form" data-target=".header-search">
    </span>
    <i class="fa fa-search fa-flip-horizontal search-icon"></i> -->
  <!-- </a> -->
  <!-- mobile collapse menu button - data-toggle="toggle" = default BS menu - data-toggle="jpanel-menu" = jPanel Menu -->
  <a href="#top" class="navbar-btn" data-toggle="jpanel-menu" data-target=".navbar-collapse" data-direction="right"><i class="fa fa-bars"></i></a>
  <!--everything within this div is collapsed on mobile-->
  <div class="navbar-collapse collapse">
    <!--main navigation-->
    <ul class="nav navbar-nav">
      <li class="home-link">
        <a href="<%= "/principal" %>"><i class="fa fa-home"></i><span class="hidden">Inicio</span></a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" id="pages-drop" data-toggle="dropdown" data-hover="dropdown">Comercios</a>
        <!-- Menu -->
        <ul class="dropdown-menu" role="menu" aria-labelledby="pages-drop">
          <!-- <li class="dropdown dropdown-submenu"> -->
            <!-- <a href="about.htm" class="dropdown-toggle" id="about-drop" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Todos as Categorias</a> -->
            <!-- Dropdown Menu -->
            <!-- <ul class="dropdown-menu" role="menu" aria-labelledby="about-drop"> -->
              <!-- <li role="presentation">
                <a role="menuitem" href="about.htm" tabindex="-1" class="menu-item">About Us Basic <i class="new-tag">Updated!</i></a>
              </li> -->
              <!-- <li role="presentation">
                <a role="menuitem" href="about-extended.htm" tabindex="-1" class="menu-item">About Us Extended <i class="new-tag">New!</i></a>
              </li> -->
              <!-- <li role="presentation">
                <a role="menuitem" href="about-me.htm" tabindex="-1" class="menu-item">About Me <i class="new-tag">New!</i></a>
              </li> -->
              <!-- <li role="presentation">
                <a role="menuitem" href="team.htm" tabindex="-1" class="menu-item">Team List <i class="new-tag">Updated!</i></a>
              </li> -->
              <!-- <li role="presentation">
                <a role="menuitem" href="team-grid.htm" tabindex="-1" class="menu-item">Team Grid <i class="new-tag">New!</i></a>
              </li> -->
              <!-- <li role="presentation">
                <a role="menuitem" href="team-member.htm" tabindex="-1" class="menu-item">Team Member <i class="new-tag">New!</i></a>
              </li> -->
              <!-- <li role="presentation"><a role="menuitem" href="contact.htm" tabindex="-1" class="menu-item">Contact</a></li> -->
            <!-- </ul> -->
          <!-- </li> -->
          <!-- <li class="dropdown dropdown-submenu">
            <a href="pricing.htm" class="dropdown-toggle" id="pricing-drop" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Pricing</a>
          --><!-- pricing pages -->
            <!-- <ul class="dropdown-menu" role="menu" aria-labelledby="pricing-drop">
              <li role="presentation"><a role="menuitem" href="pricing.htm" tabindex="-1" class="menu-item">Pricing Plans</a></li>
              <li role="presentation"><a role="menuitem" href="pricing-tables.htm" tabindex="-1" class="menu-item">Comparison Tables</a></li>
            </ul>
          </li> -->
          <!-- <li class="dropdown dropdown-submenu">
            <a href="timeline.htm" class="dropdown-toggle" id="timeline-drop" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Timeline</a>
          --><!-- timelines -->
            <!-- <ul class="dropdown-menu" role="menu" aria-labelledby="timeline-drop">
              <li role="presentation"><a role="menuitem" href="timeline.htm" tabindex="-1" class="menu-item">Timeline Default</a></li>
              <li role="presentation"><a role="menuitem" href="timeline-left.htm" tabindex="-1" class="menu-item">Timeline Left</a></li>
              <li role="presentation"><a role="menuitem" href="timeline-right.htm" tabindex="-1" class="menu-item">Timeline Right</a></li>
              <li role="presentation"><a role="menuitem" href="timeline-stacked.htm" tabindex="-1" class="menu-item">Timeline Stacked</a></li>
            </ul>
          </li> -->
          <li><a href="<%= categorias_path %>" class="menu-item">Todas as Categorias</a></li>
          <% if !@super_categorias.nil? %>
            <% @super_categorias.each do |super_categoria| %>
              <li><a href="<%= "/categorias/"+super_categoria.id.to_s %>" class="menu-item"><%= super_categoria.descricao.titleize %></a></li>
              <!-- <li><a href="features.htm" class="menu-item"><%= super_categoria.descricao.titleize %></a></li> -->
              <!-- <li role="presentation"><a role="menuitem" href="login.htm" tabindex="-1" class="menu-item">Área do Cliente</a></li> -->
              <!-- <li role="presentation"><a role="menuitem" href="signup.htm" tabindex="-1" class="menu-item">Sign Up</a></li>
              <li role="presentation"><a role="menuitem" href="starter.htm" tabindex="-1" class="menu-item">Starter Snippets</a></li>
              <li role="presentation"><a role="menuitem" href="index-static.htm" tabindex="-1" class="menu-item">Homepage Static Banner</a></li>
              <li role="presentation"><a role="menuitem" href="index-boxed.htm" tabindex="-1" class="menu-item">Homepage Boxed</a></li>
              <li role="presentation"><a role="menuitem" href="404.htm" tabindex="-1" class="menu-item">404 Error</a></li> -->
            <% end %>
          <% end %>
        </ul>
      </li>
      <!-- <li class="dropdown">
        <a href="<%= anuncios_path %>" class="dropdown-toggle" id="more-drop" data-hover="dropdown">Anuncios</a>
      </li> -->

      <li class="dropdown">
        <!-- <a href="blog.htm" class="dropdown-toggle" id="blog-drop" data-toggle="dropdown" data-hover="dropdown">Blog +</a> -->
        <a href="<%= planos_path %>" class="dropdown-toggle" id="blog-drop" data-hover="dropdown">Preços e Planos</a>
        <!-- Dropdown Menu -->
        <!-- <ul class="dropdown-menu" role="menu" aria-labelledby="blog-drop"> -->
          <!-- <li role="presentation">
            <a role="menuitem" href="blog.htm" tabindex="-1" class="menu-item">Blog List Right Sidebar <i class="new-tag">Updated!</i></a>
          </li> -->
          <!-- <li role="presentation">
            <a role="menuitem" href="blog-leftbar.htm" tabindex="-1" class="menu-item">Blog List Left Sidebar <i class="new-tag">Updated!</i></a>
          </li> -->
          <!-- <li role="presentation">
            <a role="menuitem" href="blog-timeline.htm" tabindex="-1" class="menu-item">Blog List Timeline <i class="new-tag">New!</i></a>
          </li> -->
          <!-- <li role="presentation">
            <a role="menuitem" href="blog-grid.htm" tabindex="-1" class="menu-item">Blog List Grid <i class="new-tag">New!</i></a>
          </li> -->
          <!-- <li role="presentation">
            <a role="menuitem" href="blog-post.htm" tabindex="-1" class="menu-item">Blog Post <i class="new-tag">Updated!</i></a>
          </li> -->
          <!-- <li role="presentation">
            <a role="menuitem" href="blog-post-video.htm" tabindex="-1" class="menu-item">Blog Post With Video <i class="new-tag">New!</i></a>
          </li> -->
          <!-- <li role="presentation">
            <a role="menuitem" href="blog-post-slideshow.htm" tabindex="-1" class="menu-item">Blog Post With Slideshow <i class="new-tag">New!</i></a>
          </li> -->
          <!-- <li role="presentation">
            <a role="menuitem" href="blog-post-audio.htm" tabindex="-1" class="menu-item">Blog Post With Audio Clip <i class="new-tag">New!</i></a>
          </li> -->
        <!-- </ul> -->
      </li>

      <li class="dropdown dropdown-full">
        <!-- <a href="#" class="dropdown-toggle menu-item" id="megamenu-drop" data-toggle="dropdown" data-hover="dropdown">Mega Menu +</a> -->
        <a href="<%= sobre_path %>" class="dropdown-toggle menu-item" id="megamenu-drop" data-hover="dropdown">Sobre Nós</a>
        <!-- Dropdown Menu - Mega Menu -->
        <!-- <ul class="dropdown-menu mega-menu" role="menu" aria-labelledby="megamenu-drop">
          <li role="presentation" class="dropdown-header">Mega Menu with links & text items</li> -->
          <!-- <li role="presentation"> -->
            <!-- <ul class="row list-unstyled" role="menu"> -->
              <!-- <li class="col-md-3" role="presentation">
                <a role="menuitem" href="features.htm" class="img-link">
                  <img src="img/features/feature-1.png" alt="Feature 1" />
                </a>
                <a role="menuitem" href="features.htm" tabindex="-1" class="menu-item"><strong>Mobile Friendly</strong></a>
                <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span>
              </li> -->
              <!-- <li class="col-md-3" role="presentation">
                <a role="menuitem" href="features.htm" class="img-link">
                  <img src="img/features/feature-2.png" alt="Feature 2" />
                </a>
                <a role="menuitem" href="features.htm" tabindex="-1" class="menu-item"><strong>24/7 Support</strong></a>
                <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span>
              </li> -->
              <!-- <li class="col-md-3" role="presentation">
                <a role="menuitem" href="features.htm" class="img-link">
                  <img src="img/features/feature-3.png" alt="Feature 3" />
                </a>
                <a role="menuitem" href="features.htm" tabindex="-1" class="menu-item"><strong>99% Uptime</strong></a>
                <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span>
              </li> -->
              <!-- <li class="col-md-3" role="presentation">
                <a role="menuitem" href="features.htm" class="img-link">
                  <img src="img/features/feature-4.png" alt="Feature 4" />
                </a>
                <a role="menuitem" href="features.htm" tabindex="-1" class="menu-item"><strong>Upgrade Assistance</strong></a>
                <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span>
              </li> -->
            <!-- </ul> -->
          <!-- </li> -->
        <!-- </ul>
      </li> -->

      <li class="dropdown">
        <!-- <a href="#" class="dropdown-toggle" id="more-drop" data-toggle="dropdown" data-hover="dropdown">More +</a> -->
        <a href="<%= contatos_path %>" class="dropdown-toggle" id="more-drop" data-hover="dropdown">Contato</a>
        <!-- Mega Menu -->
        <!-- <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="more-drop"> -->
          <!-- <li class="dropdown dropdown-submenu dropdown-menu-left"> -->
            <!-- <a href="headers.htm" class="dropdown-toggle" id="headers-drop" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Header Variations</a> -->
            <!-- Header variations -->
            <!-- <ul class="dropdown-menu" role="menu" aria-labelledby="headers-drop">
              <li role="presentation"><a role="menuitem" href="header-old.htm" tabindex="-1" class="menu-item">Header Old</a></li>
              <li role="presentation"><a role="menuitem" href="header-old-full.htm" tabindex="-1" class="menu-item">Header Old Full Width</a></li>
            </ul> -->
          <!-- </li> -->
          <!-- <li class="dropdown dropdown-submenu dropdown-menu-left"> -->
            <!-- <a href="sliders.htm" class="dropdown-toggle" id="slider-drop" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Sliders</a> -->
            <!-- Sliders -->
            <!-- <ul class="dropdown-menu" role="menu" aria-labelledby="slider-drop"> -->
              <!--Slider Revolution -->
              <!-- <li role="presentation" class="dropdown-header">Slider Revolution</li>
              <li role="presentation"><a role="menuitem" href="slider-revolution-default.htm" tabindex="-1" class="menu-item">Default</a></li>
              <li role="presentation"><a role="menuitem" href="slider-revolution-full.htm" tabindex="-1" class="menu-item">Full Width</a></li>
              <li role="presentation"><a role="menuitem" href="slider-revolution-behind.htm" tabindex="-1" class="menu-item">Behind Navbar</a></li>
              <li role="presentation"><a role="menuitem" href="slider-revolution-boxed.htm" tabindex="-1" class="menu-item">Boxed</a></li> -->
              <!--Backstretch Slider-->
              <!-- <li role="presentation" class="dropdown-header">Backstretch</li>
              <li role="presentation"><a role="menuitem" href="backstretch.htm" tabindex="-1" class="menu-item">Background Slideshow</a></li>
              <li role="presentation"><a role="menuitem" href="backstretch-boxed.htm" tabindex="-1" class="menu-item">Boxed Background Slideshow</a></li> -->
              <!--Flexslider-->
              <!-- <li role="presentation" class="dropdown-header">Flexslider</li>
              <li role="presentation"><a role="menuitem" href="flexslider-default.htm" tabindex="-1" class="menu-item">Default</a></li>
              <li role="presentation"><a role="menuitem" href="flexslider-full.htm" tabindex="-1" class="menu-item">Full Width</a></li>
              <li role="presentation"><a role="menuitem" href="flexslider-behind.htm" tabindex="-1" class="menu-item">Behind Navbar</a></li>
              <li role="presentation"><a role="menuitem" href="flexslider-boxed.htm" tabindex="-1" class="menu-item">Boxed</a></li> -->
            <!-- </ul> -->
          </li>
          <!-- <li role="presentation">
            <a role="menuitem" href="elements.htm" tabindex="-1" class="menu-item">Theme Elements <i class="new-tag">Updated!</i></a>
          </li>
          <li role="presentation"><a role="menuitem" href="colours.htm" tabindex="-1" class="menu-item">Theme Colours</a></li>
          <li role="presentation"><a role="menuitem" href="bs-mobile-menu.htm" tabindex="-1" class="menu-item">Bootstrap Mobile Menu</a></li> -->
        </ul>

      </li>
    </ul>
  </div>
  <!--/.navbar-collapse -->
</div>
</div>
